.form-actions {
    height: 300px;
    width: 100%;
    margin-top: 20px;
}

.btn-group {
    display: block;
    float: right;
}

.role-selecte {
    display: inline-block;
}

.upload-image {
    margin: 18px 0 0 -26px;
}