# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\IF4\sem2\4 JEE -- Architecture des Si (JEE)\projet\e-commerce-master\website-angular\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
