pagination-controls {
    ::ng-deep {
      ul {
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-28%);
      }
    }
}

.text-center {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 10px 10px 10px;
  box-shadow: 2px 1px 2px 1px rgb(112, 199, 124);
  border-radius: 5px;
}

.description {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;// giới hạn 2 dòng

}

.description-product {
  max-width: 100px;
}

.list-group {
  display: flex;
  flex-direction: row;
}

.image-product {
  overflow: hidden;
  img {
    width: 100px;
    height: 160px;
    object-fit: cover;
  }
}