mat-tab {
    font-weight: 800;
    font-size: 20px;
}

/* Styles for tab labels */
.mat-tab-label {
    background-color: transparent;
    color: rgba(0, 0, 0);
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: rgb(47, 65, 146);
    font-weight: 700;
}